/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: #141414;
	-fx-font-family: "Lucida Console";
	-fx-text-background-color: -green;

	-borderGray:#303030;
	-pictureBoxGray: #1c1c1c;
	-green:#2dd838;
	-lightGray: #3f3f3f;
	-barRed: #bc1a2a;
	-barOrange: #d68b35;
	-darkRed: #601112;
}

#enemyGrid Line, #playerGrid Line {
	-fx-stroke: -borderGray;
}

#enemyGrid {
	-fx-text-background-color: #4D4D4D;
}

.button {
	-fx-text-fill: -green;
	-fx-background-color: -borderGray;
}

.button:hover {
	-fx-background-color: #4D4D4D;
}

.button:pressed {
	-fx-text-fill: white;
	-fx-background-color: -green;
}

#playerQueBox {
	-fx-text-background-color: orange;
}

#enemyHpBar .track, #playerHpBar .track {
	-fx-background-color: -borderGray;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
   

   
}


#enemyHpBar .bar, #playerHpBar .bar {
	 -fx-background-color: -barRed;
	 -fx-background-radius: 5;
	 -fx-background-insets: 0;
	 
}

#playerEgBar .track {
	-fx-background-color: -borderGray;
    -fx-background-radius: 3;
    -fx-background-insets: 0;
    
}

#playerEgBar .bar {
	-fx-background-color: -barOrange;
	 -fx-background-insets: 0;
	 -fx-background-radius: 3;
	 
}